In [53]:
import pandas as pd
file = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

1. The first step is getting the table from the wikipedia

In [54]:
df = pd.read_html(file)[0]
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

2. The next step is to remove rows which are "Not assigned" in the Borough and "Neighborhood"

In [55]:
df.drop(df[df['Borough']=="Not assigned"].index, inplace=True)
df.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

3. Then get the number of rows and columns

In [57]:
df.shape

(103, 3)

In [59]:
def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

4. Get the csv file containing the latitude and longitude

In [60]:
link = "http://cocl.us/Geospatial_data"
geo_df = pd.read_csv(link)
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [ ]:
5. Rename the postal code column so as to merge it with the previous table with postal code

In [61]:
geo_df.rename(columns={'Postal Code':'PostalCode'}, inplace=True)
df_merge = pd.merge(df, geo_df, on='PostalCode')
df_merge.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494